body {
  margin: 0;
  padding: 0;
}

.node {
  cursor: pointer;
}

.overlay{
  background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: "FontAwesome", sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
  display: block;
}

.ghostCircle, .activeDrag .ghostCircle{
  display: none;
}

.hyperlink {
  fill: #0645ad;
  text-decoration: underline;
}

#path-container {
  background-color: "EEEEEE";
}
div.nav > ul{
  list-style-type: none;
  display: inline;
}
div.nav li {
  float: left;
  
}
div.nav li::before {
  content: "/";
}
div.nav li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  cursor: zoom-in;
}